@page "/"
@layout MainLayout

<MudContainer MaxWidth="MaxWidth.Large" Class="d-block" Style="text-align: center; align-items: center">
    <h1>
        Hello, Welcome to LogHub!
    </h1>
</MudContainer>

@code {

}
